

.about__name {
  color: var(--clr-primary);
  
}
  
.typewriter {
  
  font-weight: 600;
  font-size: 30px
}
.cursor {
display: none;
 
}
.type {
  display:inline-flex;
}

.type span {
  word-break: break-all;
  height: 1.2em;
  width:0%;
  overflow: hidden;
  animation:t 2s linear infinite alternate;
}
.type span:before {
  content:" ";
  display:inline-block;
}

@keyframes t{
  90%,100% {width:100%}
}

.about__role {
  margin-top: 1.2em;
  
}

.about__desc {
  font-size: 1rem;

  /* max-width: 600px; */
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}



.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item-left {

  flex: 50%;
  margin-top: 3.6em;
}

.flex-item-right {
  
  flex: 50%;
}
@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
  .flex-item-right {
  margin-left: -2em;
  flex: 50%;
}
}