
.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #21aeca;
}



.accordion-title:hover {
  background-color: #3ab4cc;

 
}

.accordion-title,
.accordion-content {
  padding: 1rem;
   box-shadow: var(--shadow);
}

.accordion-content {
  background-color: #39b9d2;

}

@media screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }

  .accordion {
    width: 100%;
  }
}